body {
  margin: 0;
  padding: 0;
}

.App {
  background: #555 url('https://source.unsplash.com/collection/244339/1600x900') no-repeat center / cover;
  // background: #555 url('./images/ashim-d-silva-y41WzGJV4mU-unsplash.jpg') no-repeat center / cover;
  background-blend-mode: overlay;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}
