.App {
  height: 100vh;
  // background: #555 url('https://source.unsplash.com/collection/827743/1600x900') no-repeat center / cover;
  // background: #555 url('./images/julian-hochgesang-aG8iIT9_iqM-unsplash.jpg') no-repeat center / cover;
  background-color: #333;
  color: #fff;

  main {
    display: flex;
  }
}

* {
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}
